@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/azure";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  /* stylelint-disable-next-line comment-empty-line-before */
  /* border: 2px solid var(--primary-color);  отступ вокруг бегунка */
}
