.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 250ms;
  box-shadow: 0 20px 20px 0 var(--overlay-color);
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.linksItemList {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;

  & .collapsed {
    justify-content: space-around;
  }
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  & div {
    display: flex;
  }

  & > div :not(:last-child) {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

.arrowIcon {
  display: flex;
  align-items: center;
  color: var(--inverted-primary-color);
  border-radius: 8px;

  & > svg {
    transition: transform 400ms;
    width: 20px;
    height: 20px;
    fill: var(--inverted-primary-color);
    transform: rotate(180deg);
    margin-right: 8px;
  }

  &.collapsedIcon {
    & span {
      transition: all 200ms;
      visibility: hidden;
      opacity: 0;
      width: 0;
    }

    & svg {
      margin-right: 0;
      transform: none;
    }
  }
}
