.app.azure {
  --bg-color: #1ba9c9;
  --inverted-bg-color: #f4fafb;

  --primary-color: #f4fafb;
  --secondary-color: #27463a;
  --inverted-primary-color: #0e5667;
  --inverted-secondary-color: #213d3b;
  --inverted-transparent-primary-color: #09432c;

  --skeleton-shadow: #126e83;
  --skeleton-color: #1ba9c9;

  --code-bg: #598d96;

  --card-bg: #137f97;

  --list-box-bg: #137f97;
}
