.app.azure {
  --bg-color: #1ba9c9;
  --inverted-bg-color: #f4fafb;

  --primary-color: #f4fafb;
  --secondary-color: #22a06d;
  --inverted-primary-color: #0e5667;
  --inverted-secondary-color: #213d3b;
  --inverted-transparent-primary-color: #09432c;
}
