.app.light {
  --bg-color: rgb(230 230 230);
  --inverted-bg-color: rgb(31 31 31);

  --primary-color: rgb(9 28 5);
  --secondary-color: rgb(17 54 10);
  --inverted-primary-color: rgb(15 142 15);
  --inverted-secondary-color: rgb(15 186 15);
  --inverted-transparent-primary-color: rgb(15 142 15 / 30%);
}
