.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--inverted-secondary-color);
}

.size_s {
  padding: 2px 8px;
  font: var(--font-s);
}

.size_m {
  padding: 4px 12px;
  font: var(--font-m);
}

.size_l {
  padding: 8px 16px;
  font: var(--font-l);
}

.size_xl {
  padding: 12px 20px;
  font: var(--font-xl);
}

.clear,
.clearInverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
