.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 20px var(--overlay-color);
}

.links {
  margin-left: auto;

  & > * {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
